:root {
    --header-height: 2rem;
    --header-margin-left: 2rem;
    --main-bg-clr: #eac435;
    --second-clr: #345995;
    --header-bg-clr: #2b852e;
    --header-active-clr: #92140c;
    --score-gradient-padding: 85px;
    --transparent-bg: rgba(0,0,0,0.8);
    --thumbBG: #66bb6a;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #eee;
}
::-webkit-scrollbar-thumb {
    background-color: var(--header-bg-clr);
    box-shadow: 0 0 15px 5px black;
}

.disabled {
    position: relative;
}

.disabled::after {
    content: '';
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 10;
}

.btn {
    cursor: pointer;
    display: inline;
    margin: 0 0.5em;
    padding: 0.125em 0.25em;
    border-radius: 0.25em;
    background-color: var(--second-clr);
}

body {
    /* Background from https://www.toptal.com/designers/subtlepatterns/what-the-hex-dark/ */
    background: url(/img/what-the-hex-dark.png);
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
header {
    background: var(--header-bg-clr);
    color: white;
    margin: 0;
    padding: 0;
    height: var(--header-height);
    line-height: var(--header-height);
    position: fixed;
    font-weight: 525;
    width: 100%;
    top: 0;
    z-index: 4000;
}
header ul {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0;
}
header > ul li {
    display: inline-block;
    list-style: none;
    min-width: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
    position: relative;
}
.nav-toggle {
    display: none;
}

.nav-active {
    background: transparent;
}
.nav-background {
    display: none;
}
header .nav-ul label {
    cursor: pointer;
    display: block;
    padding: 0 0.5em;
}
.header-sub-menu-ul {
    position: absolute;
    display: none;
    top: var(--header-height);
    left: 0;
    margin: 0;
    z-index: 51;
    min-width: 100%;
    width: fit-content;
    background: orange; 
}
.header-sub-menu-background {
    position: absolute;
    top: var(--header-height);
    left: -100vw;
    display: none;
    z-index: -1;
    background-color: var(--transparent-bg);
    height: 100vh;
    width: 200vw;
}
.header-sub-menu-checkbox:checked ~ .header-sub-menu-ul {
    display: inline;
}
.header-sub-menu-checkbox:checked ~ label  .header-sub-menu-background {
    display: block;

}
.header-sub-menu-li {
    display: block;
    list-style: none;

}
.header-sub-menu-checkbox {
    display: none;
}
.bgg-user-input {
    display: inline-block;
}
.bgg-user-input-inner {
    position: static;
    display: flex;
    align-items: center;
}
#bgg-user {
    height: calc(var(--header-height) - 1em);
    margin: 0.5em 0;
    padding: 0 0.25em;
    border: 0;
    width: 8em;
}
.bgg-user-btn {
    padding: 0 0.25em;
    margin: 0 1em;
    height: calc(var(--header-height) - 0.5em);
    line-height: 1.5em;
}

li.reset {
    position: relative;
}
li.reset::after {
    content: ' (' attr(filtered) ' players)';
    display: inline;
}
main {
    max-width: 1600px;
    margin: calc(2 * var(--header-height)) auto;
}

footer {
    z-index: 55555;
    max-width: 1600px;
    margin: 0 auto;
}

.output {
    border: 2px solid black;
    padding: 2em;
}

.game-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 0.25rem;
    align-items: start;
}
.game-cell {
    width: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.game-cell-inactive {
    opacity: 0.5;
}
.game-name {
    width: 100%;
}
.game-name h3 {
    margin-bottom: 0.25em;
}
.game-cover {
    position: relative;

}
.game-cover img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}
.game-cover img.lazyloading, .game-cover img.lazyload {
    width: 100%;
}
.game-cover-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    z-index: -1;
}
.game-score {
    position: relative;
    width: 100%;
    margin: 0.125em 0.25em;
    background-image: linear-gradient(to right, white var(--score-gradient-padding), red 33%, yellow 66%, green);
    background-color: black;
    background-size: 750px 50px;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px 5px 0px 3px;
    font-weight: 650;
    z-index: 1;
}

.game-score-container, .game-bgg-rating {
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    border-radius: 0.5em;
    bottom: 20px;
    width: var(--score-gradient-padding);
}

.game-score-container-bgg {
    left: 10px;
}

.game-score-container-user {
    right: 10px;
}

.game-bgg-score::before {
    content: 'BGG: ';
    font-weight: 400;
    font-size: 80%;
}

.game-user-score::before {
    content: 'User: ';
    font-weight: 400;
    font-size: 80%;
}

.game-bgg-rating {
    position: absolute;
    background-repeat: no-repeat;
    top: 1em;
    font-weight: bold;
    right: 1em;
    text-align: end;
    width: max-content;
    bottom: inherit;
    padding: 2px 4px;
    opacity: 0.8;
}
.game-data-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.game-data-row div {
    text-align: center;
    width: 100%;
}
.game-header-row {
    font-weight: normal;
    font-size: 80%;
}

.gameModal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    background-color: var(--transparent-bg);
    display: none;
}

.gameModal-box {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 80%;
    max-width: 800px;
    min-height: 500px;
    max-height: 85vh;
    transform:translateX(-50%);
    background: black;
    color: white;
    overflow: auto;
    display: grid;
    grid-template-areas: 
        "name name name close"
        "img img data data"
        "expHeader expHeader expHeader expHeader"
        "exp exp exp exp"
        "desc desc desc desc";
    grid-template-columns: 1fr 1fr 10rem 2rem;
    grid-template-rows: auto;
    padding: 0.5em;
    border-radius: 0.5em;
    /* Background from https://www.toptal.com/designers/subtlepatterns/what-the-hex-dark/ */
    background: url(/img/what-the-hex-dark.png);
}

.gameModal-box .bgg-link {
    color: white;
    text-decoration: none;
}

.gameModal-name {
    display: inline-block;
}

.gameModal-close {
    grid-area: close;
    cursor: pointer;
    justify-self: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.gameModal-image-container {
    grid-area: img;
    position: relative;
}

.gameModal-image {
    display: block;
    margin: 0 auto;
    max-width:500px;
    max-height:400px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gameModal-rank {
    position: absolute;
    background-repeat: no-repeat;
    top: 1em;
    font-weight: bold;
    right: 1em;
    text-align: end;
    width: max-content;
    bottom: inherit;
    padding: 2px 4px;
    opacity: 0.8;
    background-color: var(--transparent-bg);
    color: white;
    border-radius: 0.5em;
}

.top-ranked {
    background: gold;
    color: var(--second-clr);
}

.gameModal-data {
    grid-area: data;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
}

.gameModal-data .header {
    font-weight: bold;
}

.gameModal-name-container {
    grid-area: name;
}

.gameModal-expansion-header {
    grid-area: expHeader;
    width: 100%;
    position: relative;
    display: none;
}

.gameModal-expansion-header h4::after {
    content: ' (' attr(data-expansions-owned) ' owned / ' attr(data-expansions) ' total)';
    font-weight: 100;
}

.gameModal-expansions {
    grid-area: exp;
    display: flex;
    width: 100%;
    overflow-y: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1em;
    position: relative;
}

.gameModal-loading {
    position: absolute;
    display: none;
    bottom: -5em;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    --animation-time: 1500ms;
    --animation-delay: calc(var(--animation-time) / 10);
    z-index: 5;
}

.game-grid-loading {
    position: fixed;
    top: 8em;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    --animation-time: 1500ms;
    --animation-delay: calc(var(--animation-time) / 10);
    z-index: 5005;
}

.game-grid-loading-bars {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.25em;
}

.loading-state {
    margin-top: 1.5em;
    color: var(--main-bg-clr);
    text-align: center;
    font-style: italic;
}

.game-grid-background {
    position: fixed;
    background: var(--transparent-bg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}

.gameModal-loading > span, .game-grid-loading-bars > span {
    display: inline-block;
    background: var(--main-bg-clr);
    height: 2.5rem;
    width: 0.75rem;
    margin: 0.125rem;
    border-radius: 0.125rem;
    animation: loading-bars;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: var(--animation-time);
}
.gameModal-loading .bar1, .game-grid-loading-bars .bar1 {
    animation-delay: var(--animation-delay);
}

.gameModal-loading .bar2, .game-grid-loading-bars .bar2{
    animation-delay: calc(2 * var(--animation-delay));
}

.gameModal-loading .bar3, .game-grid-loading-bars .bar3 {
    animation-delay: calc(3 * var(--animation-delay));
}

.gameModal-loading .bar4, .game-grid-loading-bars .bar4 {
    animation-delay: calc(4 * var(--animation-delay));
}

.gameModal-loading .bar5, .game-grid-loading-bars .bar5 {
    animation-delay: calc(5 * var(--animation-delay));
}

@keyframes loading-bars {
    0% {
        transform: scale(1, 1);
    }
    20% {
        transform: scale(1.1, 2);
    }
    40% {
        transform: scale(1, 1);
    }
}
.gameModal-expansion-item {
    max-width: 30%;
    max-height: 200px;
    min-width: 150px;
    position: relative;
}

.gameModal-expansion-image-container {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
}

.gameModal-expansion-image {
    display: block;
    height: 100px;
    width: fit-content;
    margin: 0 auto;
}

.gameModal-expansions-notOwned {
    opacity: 0.5;
}

.gameModal-expansion-name {
    word-wrap: break-word;
    text-align: center;
}

.gameModal-expansion-price {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 11;
    text-decoration: none;
    color: white;
    font-weight: 450;
    font-style: italic;
    text-align: center;
    width: max-content;
    transform: translateX(-50%);
    padding: 0.25em;
}

.gameModal-expansion-price::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--transparent-bg);
    position: absolute;
    border-radius: 0.25em;
    z-index: -1;
}

.gameModal-expansion-cart {
    height: 1em;
}

.gameModal-expansions-owned.gameModal-expansion-price {
    display: none;
}

.gameModal-description {
    grid-area: desc;
}

@media screen and (max-width: 1300px){
    .game-grid {
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        gap: 2em;
    }
}

@media screen and (max-width: 1000px){
    .game-grid {
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        gap: 2em;
    }
    .gameModal-box {
        grid-template-areas: 
            "name close"
            "img img"
            "data data"
            "expHeader expHeader"
            "exp exp"
            "desc desc";
        grid-template-columns: 1fr 1em;
        gap: 0.25em;
        border-radius: 0.25em;
    }
    .gameModal-image-container {
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    header {
        margin: 0;
        width: 100vw;
    }
    header > ul li {
        padding: 0;
    }
    
    .bgg-user-input {
        margin-left: 0.5em;
    }
    .bgg-user-btn {
        background: black;
        color: white;
    }
    #bgg-user {
        margin: 0;
        height: 20px;
    }
    .nav-hamburger-bar1,
    .nav-hamburger-bar2,
    .nav-hamburger-bar3 {
        width: 25px;
        height: 3px;
        background: var(--main-bg-clr);
        margin: 0.25em 0 0.25em 0.5em;
        transition: 400ms;
        border-radius: 20%;
        display: block;
    }
    .nav-hamburger-bar1 {
        margin-top: 0.5em;
    }
    .nav-hamburger-bar2 {
        height: 2px;
        width: 21px;
        margin-left: calc(0.5em + 2px);
    }
    .nav-toggle:checked+.nav-label .nav-hamburger-bar1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    .nav-toggle:checked+.nav-label .nav-hamburger-bar1,
    .nav-toggle:checked+.nav-label .nav-hamburger-bar3 {
        width: calc(var(--header-height) / 2);
    }
    .nav-toggle:checked+.nav-label .nav-hamburger-bar2 {
        opacity: 0;
        animation-duration: 200ms;
    }
    .nav-toggle:checked+.nav-label .nav-hamburger-bar3 {
        transform: rotate(45deg) translate(-4px, -5px);
    }
    .nav-ul {
        max-height: calc(100vh - 3rem);
        overflow: auto;
        background: var(--second-clr);
    }
    .nav-ul  .nav-header, .nav-ul .reset {
        margin-left: 0.5em;
        max-width: calc(100% - 0.5em);
        padding: 0;
    }
    .header-sub-menu-li {
        max-width: calc(100% - 1.5em);
    }
    .nav-active.nav-header::before {
        content: '★ ';
    }
    .nav-toggle~.nav-ul {
        display: none;
        animation: nav-sidepull;
        animation-duration: 400ms;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        position: relative;
    }
    .nav-toggle:checked~.nav-ul, .nav-toggle:checked~.nav-ul .header-sub-menu-label, .nav-toggle:checked~.nav-ul li {
        display: block;
        width: 100%;
    }
    .nav-toggle:checked+.nav-label .nav-background {
        display: block;
        height: 100vh;
        width: 100vw;
        background: var(--transparent-bg);
        z-index: -1;
        position: fixed;
    }
    .nav-label {
        color: var(--font-clr-light);
        background: var(--header-bg-clr);
        font-size: 1rem;
        display: block;
        width: 100vw;
        float: right;
        cursor: pointer;
        height: 2rem;
    }
    .header-sub-menu-ul {
        position: static;
    }
    .header-sub-menu-li {
        margin-left: 1.5em;
        position: relative;
    }
    .header-sub-menu-li:before {
        content: '◇';
        margin-right: 0.5em;
    }
    .header-sub-menu-li.nav-active:before {
        content: '◈';
    }
    .game-grid {
        grid-template-columns: auto;
        justify-content: center;
    }

    footer {
        background: rgba(0,0,0,0.75);
        width: 100%;
        z-index: 10;
        position: fixed;
        bottom: 0;
    }

    footer img {
        display: block;
        margin: 0 auto;
    }

    .gameModal-data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "players weight"
        "time lastPlayed"
        "bggRating usrRating"
        "keyWord keyWord";
        gap: 1rem;
    }

    .gameModal-players {
        grid-area: players;
    }

    .gameModal-weight {
        grid-area: weight;
    }

    .gameModal-time {
        grid-area: time;
    }

    .gameModal-score-bgg {
        grid-area: bggRating;
    }

    .gameModal-score-player {
        grid-area: usrRating;
    }

    .gameModal-keywords {
        grid-area: keyWord;
    }
}

.hidden {
    display: none !important;
}

@keyframes nav-sidepull {
    0% {
        left: -100vw;
    }
    70% {
        left: 5em;
    }
    90% {
        left: -2em;
    }
    100% {
        left: 0;
    }
}